/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: hsl(240, 78%, 98%);
  font-family: "Montserrat", sans-serif;
  font-size: 1.042vw;
  font-weight: 700;
}

.top {
  position: absolute;
  right: 0;
  top: 0;
  width: 27%;
  z-index: -1;
}

.bottom {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 25%;
  z-index: -1;
}

.main-container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: relative;
  width: 100vw;
}

.hidden {
  display: none;
}
.heading-container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
}

.header {
  padding: 11% 0% 0% 0%;
}

.header-text {
  color: hsl(233, 13%, 49%);
  font-size: 2.2vw;
}

.sub-heading {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: hsl(234, 14%, 74%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.042vw;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5.5% 0% 8.5% 0%;
  width: 100%;
}

.slider {
  -ms-flex-line-pack: start;
  align-content: flex-start;
  background-color: hsl(237, 63%, 64%);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.1vw;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 3.47vw;
}
.slider:hover {
  cursor: pointer;
  opacity: 50%;
}
.slider-circle {
  background-color: #ffffff;
  border-radius: 100%;
  height: 1.736vw;
  margin: 5%;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  width: 1.736vw;
}

.slider-click {
  -webkit-transform: translateX(-1.35vw);
  -ms-transform: translateX(-1.35vw);
  transform: translateX(-1.35vw);
}

.sub-heading-date {
  margin: 0% 3%;
}
.cards-container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 6.25%;
  width: 100%;
}

.card {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 50px -5px hsl(234, 14%, 74%);
  box-shadow: 0px 5px 50px -5px hsl(234, 14%, 74%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  min-width: 24.3%;
  position: relative;
}

.middle {
  background-image: -o-linear-gradient(
    315deg,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  background-image: linear-gradient(
    135deg,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  border-radius: 10px;
}

.card:nth-child(1) {
  border-radius: 10px 0px 0px 10px;
}

.card:nth-child(2) > .card-content {
  color: #ffffff;
}
.card:nth-child(3) {
  border-radius: 0px 10px 10px 0px;
}

.card-content {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: hsl(233, 13%, 49%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 80%;
}

.card-content-middle {
  padding: 7% 0%;
}

.title-content {
  font-size: 1.2vw;
  padding: 14% 0 8% 0;
}

.price::before {
  content: "$";
  font-size: 3vw;
  position: relative;
  right: 0.68vw;
  top: -0.4vw;
}

.price {
  color: hsl(232, 13%, 33%);
  font-size: 4.5vw;
  font-weight: 700;
  padding-bottom: 13%;
}

.price-annually {
  padding-bottom: 10.9%;
}

.card-content-middle > .price-content > .price {
  color: #ffffff;
}

.item-content {
  width: 100%;
}

.item {
  border-top: 1px solid hsl(234, 14%, 74%);
  padding: 6% 0%;
  text-align: center;
  width: 100%;
}

.item:nth-child(3) {
  border-bottom: 1px solid hsl(234, 14%, 74%);
}

.button-content {
  padding: 10.5% 0%;
  width: 100%;
}

.button {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(hsl(236, 72%, 79%)),
    to(hsl(237, 63%, 64%))
  );
  background-image: -o-linear-gradient(
    left,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  background-image: linear-gradient(
    90deg,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  background: none;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-size: 0.8vw;
  font-weight: 700;
  height: 2.77vw;
  letter-spacing: 0.15rem;
  width: 100%;
}

.button:hover {
  background: none;
  border: 1px solid hsl(233, 13%, 49%);
  color: hsl(237, 63%, 64%);
  cursor: pointer;
}

.button-middle {
  background-color: #ffffff;
  background-image: none;
  color: hsl(237, 63%, 64%);
}

.button-middle:hover {
  border: 1px solid #ffffff;
  color: #ffffff;
}

.attribution {
  bottom: 2px;
  font-size: 0.68vw;
  font-weight: 300;
  position: absolute;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  font-size: 0.68vw;
  font-weight: 300;
}
